# Overview: Game Maps and Players (Interactions)

In [1]:
# Pandas
import numpy as np
import pandas as pd
# Plot
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.style.use('seaborn-whitegrid')
%matplotlib inline

Read data

In [2]:
dataset_folder = '../input'
plot_folder = '../plot'

courses = pd.read_csv('%s/%s' % (dataset_folder, 'courses.csv'), sep='\t', encoding='utf-8')
players = pd.read_csv('%s/%s' % (dataset_folder, 'players.csv'), sep='\t', encoding='utf-8')
likes   = pd.read_csv('%s/%s' % (dataset_folder, 'likes.csv'), sep='\t', encoding='utf-8')
plays   = pd.read_csv('%s/%s' % (dataset_folder, 'plays.csv'), sep='\t', encoding='utf-8')
clears  = pd.read_csv('%s/%s' % (dataset_folder, 'clears.csv'), sep='\t', encoding='utf-8')
records = pd.read_csv('%s/%s' % (dataset_folder, 'records.csv'), sep='\t', encoding='utf-8')

In [3]:
ids = courses['id'].unique().tolist()
interactions = {id:{'likes':0, 'plays':0, 'clears':0, 'records':0} for id in ids}

## Overview

In [4]:
names = ['courses','players','likes','plays','clears','records']
for df, name in zip([courses,players,likes,plays,clears,records], names):
    print('%s:' % (name), len(df))

courses: 115032
players: 884302
likes: 618687
plays: 3941378
clears: 2051809
records: 117126

### Likes

In [5]:
likes.head()

                     catch                   id       player
0  2018-02-23 15:22:44.015  0000-0000-0353-3D35  groebenzell
1  2018-03-02 09:46:27.847  0000-0000-035A-9F14       jlan6e
2  2017-12-18 14:47:47.489  0001-0000-0347-486A     cat38690
3  2017-12-18 14:47:47.489  0001-0000-0347-486A     raulcaba
4  2017-12-18 14:47:48.878  0001-0000-0359-B3CD     Tugaeddy

In [6]:
# Count number of likes per map
likes_per_course = likes['id'].value_counts().to_dict()

In [7]:
for id, values in likes_per_course.items():
    interactions[id]['likes'] = values

### Plays

In [8]:
plays.head()

                     catch                   id       player
0  2018-02-23 15:22:44.015  0000-0000-0353-3D35    darter60k
1  2018-02-23 15:22:44.015  0000-0000-0353-3D35  davidchofis
2  2018-02-23 15:22:44.015  0000-0000-0353-3D35   fabioviana
3  2018-02-23 15:22:44.015  0000-0000-0353-3D35    gorigokky
4  2018-02-23 15:22:44.015  0000-0000-0353-3D35  groebenzell

In [9]:
# Count number of plays per map
plays_per_course = plays['id'].value_counts().to_dict()

In [10]:
for id, values in plays_per_course.items():
    interactions[id]['plays'] = values

### Clears

In [11]:
clears.head()

                     catch                   id       player
0  2018-02-23 15:22:44.015  0000-0000-0353-3D35    darter60k
1  2018-02-23 15:22:44.015  0000-0000-0353-3D35  davidchofis
2  2018-02-23 15:22:44.015  0000-0000-0353-3D35   fabioviana
3  2018-02-23 15:22:44.015  0000-0000-0353-3D35  groebenzell
4  2018-02-23 15:22:44.015  0000-0000-0353-3D35  igatake0229

In [12]:
# Count number of clears per map
clears_per_course = clears['id'].value_counts().to_dict()

In [13]:
for id, values in clears_per_course.items():
    interactions[id]['clears'] = values

### Records

In [14]:
records.head()

                     catch                   id        player  timeRecord
0  2017-12-18 15:35:29.015  F68A-0000-0337-AF4F  The_Brucican       15482
1  2018-03-02 10:09:32.392  9669-0000-0330-554C    inoino2226        9265
2  2017-12-18 15:47:40.665  0D1D-0000-0355-DA7A       hbeeboy        6692
3  2018-02-23 15:02:20.557  18E3-0000-032A-27AB        Khazey       40383
4  2018-02-23 15:05:16.414  2C55-0000-0300-854A    okayan3378        1533

In [15]:
# Count number of records per map
records_per_course = records['id'].value_counts().to_dict()

In [16]:
for id, values in records_per_course.items():
    interactions[id]['records'] = values